<h1>Hallo almal</h1>
<p>Welkom by my 2de Crypto blad</p>

<br/>
<%= @mycoins %>
<br/><br/>

<% for xx in @coins %>
    <% for coin in @mycoins %>
        <% if coin == xx['currency'] %>
            <%= xx['currency'] %> -- <%= xx['open']  %> -- <%= xx['close'] %> <br/>
        <% end %>
    <% end %>
<% end %> 

<br/><br/>

<%= @response %>
        